engine-strict=true
# 默认代理
registry=https://registry.npm.taobao.org/
sass_binary_site=https://npm.taobao.org/mirrors/node-sass/
phantomjs_cdnurl=https://npm.taobao.org/mirrors/phantomjs/
pngquant-bin=https://npm.taobao.org/mirrors/pngquant-bin/
optipng_binary_site=https://npm.taobao.org/mirrors/optipng-bin/

@infzm:registry=http://119.29.101.140:4873/
